# Set composer folder for this command and update
commands:
   01_updateComposer:
      command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
   aws:elasticbeanstalk:application:environment:
      RDS_HOSTNAME: lappuidb.cduzeuvbhqjl.us-east-1.rds.amazonaws.com
      COMPOSER_HOME: /root
   aws:elasticbeanstalk:container:php:phpini:
      document_root: /public
      composer_options: --no-dev --no-interaction --prefer-dist --optimize-autoloader

container_commands:
   00_optimize:
     command: "/usr/bin/composer.phar dump-autoload --optimize"
