container_commands:
#   30_migrate:
#      command: "php artisan migrate --force"
#      cwd: "/var/app/ondeck"
      
#   31_seed:
#      command: "php artisan db:seed --force"
#      cwd: "/var/app/ondeck"
    
   32_cache:
      command: "php artisan cache:clear"
      cwd: "/var/app/ondeck"
      
   33_optimize:
      command: "php artisan optimize --force"
      cwd: "/var/app/ondeck"
      
   35_permissions:
      # fix permissions on the Laravel app folder
      command: "chmod a+w /var/app/ondeck/storage/logs"
      cwd: "/var/app/ondeck"
 
   36_permissions:
      # fix permissions on the Laravel app folder
      command: "chmod a+w /var/app/ondeck/bootstrap/cache"
      cwd: "/var/app/ondeck"
 